.reset{
    display: none;
}


.torchic {
    position:fixed;
    bottom:10px;
    right:10px;
    z-index: 1000;
}

#pika {
    position:fixed;
    bottom:10px;
    right:10px;
    z-index: 1000;
  }
  